<div>
  <h2>{{title}}</h2>
  <p>This is a dummy text !!!!</p>
  <div>
    <app-header></app-header>
  </div>
  <div>
    <app-sidebar></app-sidebar>
  </div>
  <div>
    <app-main></app-main>
  </div>
</div>